.newNote {
    border: 1px solid black;
    box-shadow: aliceblue 5px 5px 5px;
    width: 45%;
    height: 45%;
    top: 15%;
    z-index: 5;
    position: absolute;
    border-radius: 15px;
    background: black;
    opacity: 0.75;
    display: none;
    text-align: center;
}

.fileImage {
    padding: 15px;
    margin: 8px;
}

.labelNote {
    font-size: 20px;
    color: white;
}

.selectClass {
    width: 25%;
    padding:10px;
    border-radius: 15px;
    outline:none;
    margin: 15px;
}

.taClass {
    width: 85%;
    outline:none;
    border-radius: 15px;
    height: 50%;
    resize:none;
    padding:15px;
}

.fileImage {
    display: none;
    color: white;
}

.linkClass {
    display: none;
    width: 100%;
}

.inputNoteClass {
    width: 60%;
    height: 25px;
    padding:5px;
    border-radius: 10px;
    display: inline-block;
    outline:none;
}

.noteButton {
    width: 15%;
    height: 28px;
    background: grey;
    cursor: pointer;
    border-radius:5px;
    float: right;
    padding:5px;
    margin: 5px;
    cursor: pointer;
}

.imgClass {
    display: none;
    width: 40%;
    height: 40%;
    position:absolute;
    left: 30%;
    border-radius: 15px;
}